<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="sntConfig">
      <!--<section name="databaseGroups" type="Snt.Framework.Configuration.DatabaseSection,Snt.Framework"/>-->
      <section name="workGroups" type="PLC_ValueMonitor.Configuration.WorkSection,PLC_ValueMonitor"/>
      <!--<section name="taskParameters" type="Snt.Business.Configuration.TaskSection,Snt.Business"/>-->
    </sectionGroup>
  </configSections>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>


  <sntConfig>
    <workGroups>
      <workGroup type="Server">
        <device deviceNumber="1" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I0" Name ="trayArrived"/>
        <device deviceNumber="2" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I2" Name ="batteryArrived"/>
        <device deviceNumber="3" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I110" Name ="trayArrived"/>
        <device deviceNumber="4" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I4" Name ="batteryArrived"/>
        <device deviceNumber="5" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I6" Name ="trayArrived"/>
        <device deviceNumber="6" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I8" Name ="batteryArrived"/>
        <device deviceNumber="7" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I10" Name ="trayArrived"/>
        <device deviceNumber="8" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I12" Name ="batteryArrived"/>
        <device deviceNumber="9" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB221,I14" Name ="trayArrived"/>
        <device deviceNumber="10" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I16" Name ="batteryArrived"/>
        <device deviceNumber="11" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I18" Name ="trayArrived"/>
        <device deviceNumber="12" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I20" Name ="batteryArrived"/>
        <device deviceNumber="13" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I22" Name ="trayArrived"/>
        <device deviceNumber="14" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I24" Name ="batteryArrived"/>
        <device deviceNumber="15" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I26" Name ="trayArrived"/>
        <device deviceNumber="16" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I28" Name ="batteryArrived"/>
        <device deviceNumber="17" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I30" Name ="trayArrived"/>
        <device deviceNumber="18" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I32" Name ="batteryArrived"/>
        <device deviceNumber="19" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I34" Name ="trayArrived"/>
        <device deviceNumber="20" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I36" Name ="batteryArrived"/>
        <device deviceNumber="21" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I38" Name ="trayArrived"/>
        <device deviceNumber="22" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I40" Name ="batteryArrived"/>
        <device deviceNumber="23" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I42" Name ="trayArrived"/>
        <device deviceNumber="24" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I46" Name ="batteryArrived"/>
        <device deviceNumber="25" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I48" Name ="trayArrived"/>
        <device deviceNumber="26" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I50" Name ="batteryArrived"/>
        <device deviceNumber="27" deviceName ="托盘到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I52" Name ="trayArrived"/>
        <device deviceNumber="28" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I54" Name ="batteryArrived"/>
        <device deviceNumber="29" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I56" Name ="batteryArrived"/>
        <device deviceNumber="30" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I58" Name ="batteryArrived"/>
        <device deviceNumber="31" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I60" Name ="batteryArrived"/>
        <device deviceNumber="32" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I62" Name ="batteryArrived"/>
        <device deviceNumber="33" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I64" Name ="batteryArrived"/>
        <device deviceNumber="34" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I68" Name ="batteryArrived"/>
        <device deviceNumber="35" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I70" Name ="batteryArrived"/>
        <device deviceNumber="36" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I72" Name ="batteryArrived"/>
        <device deviceNumber="37" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I74" Name ="batteryArrived"/>
        <device deviceNumber="38" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I76" Name ="batteryArrived"/>
        <device deviceNumber="39" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I78" Name ="batteryArrived"/>
        <device deviceNumber="40" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I80" Name ="batteryArrived"/>
        <device deviceNumber="41" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I82" Name ="batteryArrived"/>
        <device deviceNumber="42" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I84" Name ="batteryArrived"/>
        <device deviceNumber="43" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I86" Name ="batteryArrived"/>
        <device deviceNumber="44" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I88" Name ="batteryArrived"/>
        <device deviceNumber="45" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I90" Name ="batteryArrived"/>
        <device deviceNumber="46" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I92" Name ="batteryArrived"/>
        <device deviceNumber="47" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I94" Name ="batteryArrived"/>
        <device deviceNumber="48" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I96" Name ="batteryArrived"/>
        <device deviceNumber="49" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I98" Name ="batteryArrived"/>
        <device deviceNumber="50" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I100" Name ="batteryArrived"/>
        <device deviceNumber="51" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I102" Name ="batteryArrived"/>
        <device deviceNumber="52" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I104" Name ="batteryArrived"/>
        <device deviceNumber="53" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I106" Name ="batteryArrived"/>
        <device deviceNumber="53" deviceName ="电池到达" PLCip ="10.2.1.201" PLCAddress ="DB2,I08" Name ="batteryArrived"/>

        <!--<device deviceNumber="02" deviceName ="大巴分档工位2号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9020" />
        <device deviceNumber="03" deviceName ="大巴分档工位3号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9020" />
        <device deviceNumber="04" deviceName ="大巴分档工位4号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9020" />

        <device deviceNumber="05" deviceName ="三元分档工位1号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9021" />
        <device deviceNumber="06" deviceName ="三元分档工位2号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9021" />
        <device deviceNumber="07" deviceName ="三元分档工位3号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9021" />
        <device deviceNumber="08" deviceName ="三元分档工位4号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9021" />

        <device deviceNumber="09" deviceName ="轿车分档工位1号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9022" />
        <device deviceNumber="10" deviceName ="轿车分档工位2号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9022" />
        <device deviceNumber="11" deviceName ="轿车分档工位3号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9022" />
        <device deviceNumber="12" deviceName ="轿车分档工位4号机器人" socketClientIP ="172.16.144.138"  socketClientPort ="9022" />-->
      </workGroup>
    </workGroups>
  </sntConfig>

  <appSettings>
    <add key="OPCServerIP" value="10.2.0.221"/>
    <add key="OPCServerPort" value="9000"/>
    <add key="LocalHostIP" value="192.168.1.101"/>
    <add key="LocalHostPort" value="9003"/>
  </appSettings>

</configuration>