<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <appSettings>
    <add key="KEY" value="88"/>
    <add key="LocationIPAddress" value="10.2.1.46"/>
    <add key="LocationPort" value="9010"/>
    <add key="RomotionIPAddress" value="10.2.1.221"/>
    <add key="RemotionPort" value="9004"/>
    <add key="PLCIPAddress" value="10.2.1.201"/>
  </appSettings>
  
</configuration>